*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.card{
    background-color: #fff;
    width: 353px;
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.img_profile{
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -75px;
    border: 5px solid #fff;
}
.detalles h2{
    font-weight: 100px;
    font-size: 18px;
    text-align: center;
    margin-top: -60px;
}
.detalles p{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}
.section-button{
    margin-top: 10px;
    font-weight: 100;
    font-size: 10px;
}
.follow{
    width: 220px;
    height: 48px;
    border-radius: 12px;
    background: #046BA5;
    border-color: transparent;
    color: #fff;
    font-weight: 900;
}
.send{
    margin-left: 5px;
    width: 51.117px;
    height: 48.428px;
    border-radius: 12px;
    background: rgba(4, 107, 165, 0.20);
    border-color: transparent;
}

